* {
  margin: 0;
  padding: 0;
  border: 0;
}
div,
p,
h1,
h2,
h3,
ul,
ol,
blockquote {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  overflow-y: auto;
}
html {
  height: 100%;
  font-size: 14pt;
  font-family: "Open Sans", sans-serif;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #e0e0e0;
}
.debug {
  display: none;
  position: fixed;
  color: white;
  font-size: 9pt;
  z-index: 1;
  background-color: #606060;
  width: auto;
}
.content-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -3rem;
}
.content-wrap div.header-wrap {
  background-color: #b32a0b;
  height: 8rem;
}
.content-wrap div.header {
  float: none;
  padding-top: 0.8em;
  width: 38rem;
  margin: 0 auto;
  color: white;
  background-color: #b32a0b;
  height: 100%;
}
.content-wrap div.header img {
  display: block;
  width: 32rem;
}
.content-wrap div.header .subhead {
  margin: 0.5rem 0 0 0;
  cursor: default;
}
.content-wrap div.header .subhead .tagline {
  width: auto;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid white;
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.content-wrap div.header .subhead .links {
  width: auto;
  float: right;
}
.content-wrap div.header .subhead .links a,
.content-wrap div.header .subhead .links span {
  display: block;
  position: relative;
  float: right;
  white-space: pre-wrap;
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  text-transform: lowercase;
  color: white;
  text-decoration: none;
}
.content-wrap .content {
  width: 38rem;
  float: none;
  margin: 0 auto;
  height: auto;
  overflow-y: auto;
  background-color: #fbfbfb;
  padding: 1rem 1rem 2rem 1rem;
}
.content-wrap .push {
  height: 3rem;
}
.footer-wrap {
  box-sizing: border-box;
  height: 3rem;
  float: none;
  overflow-y: auto;
  padding-top: 1.5rem;
  text-align: center;
}
.footer-wrap .footer {
  display: inline-block;
  float: none;
  width: auto;
  font-size: 9pt;
  color: #707070;
}
.footer-wrap .footer a {
  color: #84483a;
  text-decoration: none;
}
.cookies-wrap {
  position: fixed;
  bottom: 0.75rem;
  cursor: default;
}
.cookies-wrap .cookies {
  width: 36rem;
  margin: 0 auto;
  float: none;
  padding: 0 1rem 0 0.5rem;
  background-color: #505050;
  opacity: 0.85;
  border-radius: 0.3rem;
}
.cookies-wrap .cookies img {
  width: 30%;
  display: block;
  float: left;
}
.cookies-wrap .cookies div {
  width: 70%;
  text-align: right;
}
.cookies-wrap .cookies .warning {
  color: white;
  font-size: 2rem;
  line-height: 170%;
}
.cookies-wrap .cookies .acceptCookie {
  margin: 0 0 0 1rem;
  padding: 0 1rem;
  background-color: #b0d0b0;
  border-radius: 0.2rem;
  font-weight: 600;
  color: #137600;
  transition: background-color 0.5s ease;
}
.cookies-wrap .cookies .acceptCookie:hover {
  background-color: #d0e3d0;
  color: #179000;
}
.cookies-wrap .cookies .readMoreCookie {
  color: #fea996;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  html {
    font-size: 12pt;
  }
}
@media screen and (max-width: 620px) {
  .content-wrap div.header {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .content-wrap div.header img {
    width: 100%;
    max-width: 400px;
  }
  .content-wrap div.header .subhead .links {
    float: left;
    margin-top: 0.5rem;
    clear: both;
  }
  .content-wrap .content {
    width: 100%;
  }
  .cookies-wrap {
    bottom: 0;
  }
  .cookies-wrap .cookies {
    width: 100%;
    border-radius: 0;
  }
  .cookies-wrap .cookies img {
    width: 45%;
  }
  .cookies-wrap .cookies div {
    width: 55%;
  }
}
.content {
  color: #404040;
  font-size: 1rem;
}
.content h1 {
  font-family: "Bree Serif", serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 2rem;
}
.content h1:first-of-type {
  margin-top: 0;
}
.content p.meta {
  margin-bottom: 2rem;
  font-size: 90%;
}
.content p.meta .date {
  font-style: italic;
}
.content p.meta .filedunder {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 90%;
  color: #404040;
}
.content p.meta .filedunder span {
  background-color: #f0f0f0;
  border-radius: 0.2rem;
  padding: 0 0.3rem;
  margin-right: 0.1rem;
}
.content h1.toc {
  margin-bottom: 0.8rem;
}
.content h2 {
  font-family: "Bree Serif", serif;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 1rem 0 0.8rem 0;
}
.content p,
.content ul,
.content ol,
.content figure,
.content table {
  margin-bottom: 0.8rem;
}
.content p.lede {
  font-style: italic;
  margin-bottom: 2rem;
}
.content ul {
  list-style: disc outside none;
  padding: 0 0 0 1.5rem;
}
.content ol {
  list-style: decimal outside none;
  padding: 0 0 0 1.5rem;
}
.content li {
  margin-bottom: 0.4rem;
  padding-left: 0.5rem;
}
.content a {
  color: #b32a0b;
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
.content b {
  font-weight: 600;
}
.content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding: 5px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
}
.content p.formula {
  text-align: center;
}
.content div.centeredContent {
  text-align: center;
}
.content blockquote {
  padding: 0.5rem 0 0.5rem 3rem;
  font-size: 95%;
  font-style: italic;
  background-color: #f3f3f3;
  margin-bottom: 1rem;
  border-left: 2px solid #b32a0b;
  overflow-y: hidden;
}
.content blockquote:before {
  position: absolute;
  top: 0;
  left: 0.1rem;
  content: '\201C';
  color: #b32a0b;
  font-size: 4rem;
  font-family: serif;
  font-weight: bold;
}
.content blockquote p:last-child {
  margin-bottom: 0;
}
.content .imprint {
  font-size: 0.8rem;
}
.content .imprint h1 {
  font-size: 1.3rem;
}
.content .toc-item {
  margin-bottom: 1.5rem;
  height: auto;
  opacity: 1;
}
.content .toc-item.hidden {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
}
.content .toc-item h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
  font-weight: 600;
}
.content .toc-item .toc-meta,
.content .toc-item p {
  font-size: 0.85rem;
  color: #707070;
  margin: 0;
}
.content .toc-item p {
  font-style: italic;
  display: none;
}
.content .toc-item p a {
  color: #707070;
}
.content .toc-item i {
  display: none;
}
.content .toc-item .toc-meta {
  margin-bottom: 0.2rem;
}
.content .toc-item .date {
  color: #404040;
}
.content .toc-item .filedunder {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 0.7rem;
  color: #404040;
}
.content .toc-item .filedunder span {
  background-color: #f0f0f0;
  border-radius: 0.2rem;
  padding: 0 0.3rem;
  margin-right: 0.1rem;
}
.content .catSelector {
  margin-bottom: 1.5rem;
}
.content .catSelector span {
  display: inline-block;
  float: left;
  padding: 0.3rem 0.8rem;
  background-color: #f0f0f0;
  margin: 0 0.3rem 0.3rem 0;
  transition: background-color 0.5s ease;
  font-size: 0.8rem;
  cursor: default;
}
.content .catSelector span.primary {
  font-weight: 700;
}
.content .catSelector span.primary.selected {
  background-color: #f57d62;
}
.content .catSelector span.selected,
.content .catSelector span.selected:hover {
  background-color: #f7917a;
  color: white;
}
.content .catSelector span:hover {
  background-color: #fde0da;
}
table.styleA {
  display: inline-block;
  font-size: 85%;
  border-collapse: collapse;
}
table.styleA td {
  text-align: center;
  margin: 0;
  padding: 0 1rem;
}
table.styleA tr.header td {
  font-weight: 600;
  border-bottom: 1pt solid #404040;
}
table.styleA td.rowHeader {
  text-align: right;
  padding-right: 0;
}
table.styleA.reducedPad td {
  padding: 0 0.4rem;
}
table.styleA tr.dottedBottom td {
  border-bottom: 1pt dotted #404040;
}
table.styleA tr.solidBottom td {
  border-bottom: 1pt solid #404040;
}
.catzine {
  text-align: center;
}
.catzine img {
  background-color: white;
  max-width: 28rem;
}
.catzine .socialshares {
  text-transform: uppercase;
  margin: 0.5rem 0 1rem 0;
}
.catzine .socialshares div {
  width: 15rem;
  margin: 0 auto;
  float: none;
  padding: 0.5rem 1rem;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
}
.catzine .socialshares a {
  display: inline-block;
  width: 2rem;
  background-color: #00a1e4;
  color: white;
  margin-left: 0.5rem;
}
.catzine-thumb {
  background-color: white;
  text-align: center;
  width: 48%;
  margin: 0 2% 0.7rem 0;
}
.catzine-thumb a {
  display: block;
  padding: 0.2rem;
  border: 2px solid #e6e6e6;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  overflow-y: auto;
}
.catzine-thumb a:hover {
  text-decoration: none;
}
.catzine-thumb img {
  border: none;
  background-color: white;
  width: 50%;
  display: block;
  float: left;
}
@media screen and (max-width: 620px) {
  .catzine-thumb {
    width: 100%;
    margin-right: 0;
  }
  .catzine img {
    width: 100%;
  }
}
