* {
  margin: 0;
  padding: 0;
  border: 0;
}
div,
p,
h1,
h2,
h3,
ul,
ol {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  overflow-y: auto;
}
html {
  height: 100%;
  font-size: 14pt;
  font-family: "Open Sans", sans-serif;
}
html.smaller {
  font-size: 12pt;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #e0e0e0;
}
.debug {
  display: none;
  position: fixed;
  color: white;
  font-size: 9pt;
  z-index: 1;
  background-color: #606060;
  width: auto;
}
.content-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -3rem;
}
.content-wrap .header-wrap {
  background-color: #b32a0b;
  height: 8rem;
}
.content-wrap .header {
  float: none;
  padding-top: 0.8em;
  width: 38rem;
  margin: 0 auto;
  color: white;
  background-color: #b32a0b;
  height: 100%;
}
html.mobile .content-wrap .header {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.content-wrap .header img {
  display: block;
  width: 32rem;
}
html.mobile .content-wrap .header img {
  width: 100%;
}
.content-wrap .header .subhead {
  margin: 0.5rem 0 0 0;
  cursor: default;
}
.content-wrap .header .subhead .tagline {
  width: auto;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid white;
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.content-wrap .header .subhead .links {
  width: auto;
  float: right;
}
html.mobile .content-wrap .header .subhead .links {
  float: left;
  margin-top: 0.5rem;
}
.content-wrap .header .subhead .links a,
.content-wrap .header .subhead .links span {
  display: block;
  position: relative;
  float: right;
  white-space: pre-wrap;
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  text-transform: lowercase;
  color: white;
  text-decoration: none;
}
.content-wrap .content {
  width: 38rem;
  float: none;
  margin: 0 auto;
  height: auto;
  overflow-y: auto;
  background-color: #fbfbfb;
  padding: 1rem 1rem 2rem 1rem;
}
html.mobile .content-wrap .content {
  width: 100%;
}
.content-wrap .push {
  height: 3rem;
}
.footer-wrap {
  box-sizing: border-box;
  height: 3rem;
  float: none;
  overflow-y: auto;
  padding-top: 1.5rem;
  text-align: center;
}
.footer-wrap .footer {
  display: inline-block;
  float: none;
  width: auto;
  font-size: 9pt;
  color: #707070;
}
.footer-wrap .footer a {
  color: #84483a;
  text-decoration: none;
}
.content {
  color: #404040;
  font-size: 1rem;
}
.content h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.content p {
  margin-bottom: 0.8rem;
}
.content p.lede {
  font-style: italic;
  margin-bottom: 2rem;
}
.content a {
  color: #b32a0b;
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
.content .toc-item {
  margin-bottom: 1.5rem;
}
.content .toc-item h2 {
  font-size: 1rem;
  margin: 0;
  font-weight: 600;
}
.content .toc-item .toc-meta,
.content .toc-item p {
  font-size: 0.85rem;
  color: #707070;
  margin: 0;
}
.content .toc-item p {
  font-style: italic;
  display: none;
}
.content .toc-item p a {
  color: #707070;
}
.content .toc-item i {
  display: none;
}
.content .toc-item .toc-meta {
  margin-bottom: 0.2rem;
}
.content .toc-item .date {
  color: #404040;
}
.content .toc-item .filedunder {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 0.7rem;
  color: #404040;
}
.content .toc-item .filedunder span {
  background-color: #f0f0f0;
  border-radius: 0.2rem;
  padding: 0 0.3rem;
  margin-right: 0.1rem;
}
